// font-family's
$muli: 'Muli', sans-serif;

// font weights
$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

// font size
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-md: 21px;
$font-size-l: 28px;
$font-size-lg: 32px;
$font-size-xl: 48px;